

<h2><%= message2%></h2>
 <h3><%= name_pairs%></h3>
 <h4><b><%= message%></b></h4>
  <form method = "post" action = "/names">
  <input type="text" name="numNames" id="numNames" required="required" class="rcorners3" autofocus>
<script src="http://code.jquery.com/jquery-2.1.1.js"></script>
  <div id="elcontainer"></div><br>
  <input type= "submit" class="button"></input>
  </form>
 


