<!DOCTYPE html>
<html>
<center><head class="background">
<link rel="stylesheet" href = "css/custom.css">
<script
			  src="http://code.jquery.com/jquery-2.1.1.js">
			  </script>  
    <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<hr>
<body class="background">
<%= yield%>
</body></center><hr>
<footer class="footer">
</footer>
</html>
<script src= "/js/number_of_boxes.js"></script>
